apiVersion: v1
kind: Service
metadata:
  namespace: "{{ namespace }}"
  name: "{{ service_name }}"
spec:
  clusterIP: None
  selector:
    app: "{{ service_name }}"
  ports:
  - name: web
    port: {{ server_port }}
{% for port in extra_ports %}
  - name: port{{ loop.index }}
    port: {{ port }}
{% endfor %}