apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "{{ service_name }}"
  namespace: "{{ namespace }}"
spec:
  serviceName: "{{ service_name }}"
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: "{{ service_name }}"
  template:
    metadata:
      labels:
        app: "{{ service_name }}"
    spec:
      imagePullSecrets:
      - name: xsio-registry-secret
      volumes:
      - name: log-volume
        hostPath:
          path: /opt/log/stash
          type: DirectoryOrCreate
      - name: ods-volume
        persistentVolumeClaim:
          claimName: ods-volume
      containers:
      - name: "{{ service_name }}"
        image: "{{ image_repository | default('nexus.xsio.cn/' + service_version) }}/{{ image_name }}:{{ image_tag }}"
        imagePullPolicy: IfNotPresent
        ports:
        - name: web
          containerPort: {{ service_port }}
        envFrom:
        - configMapRef:
            name: global-config
        - configMapRef:
            name: "{{ service_name }}-config"
        volumeMounts:
        - name: log-volume
          mountPath: /opt/log/stash
        - name: ods-volume
          mountPath: /opt/log/ods
        resources:
          requests:
            memory: "{{ requests_memory | default('2048Mi') }}"
            cpu: "{{ requests_cpu | default('125m') }}"
            ephemeral-storage: "1Gi"
          limits:
            memory: "{{ limits_memory | default('4096Mi') }}"
            cpu: "{{ limits_cpu | default('1000m') }}"
            ephemeral-storage: "4Gi"
{% if (no_health_check is undefined) or (no_health_check == False) %}
        readinessProbe:
          httpGet:
            path: /ping
            port: web
          initialDelaySeconds: {{ readiness_initial_delay | default(60) }}
          periodSeconds: {{ readiness_period | default(30) }}
        livenessProbe:
          tcpSocket:
            port: web
          initialDelaySeconds: {{ liveness_initial_delay | default(60) }}
          periodSeconds: {{ liveness_period | default(30) }}
{% endif %}
