apiVersion: v1
kind: ServiceAccount
metadata:
  name: reactflow
  namespace: "{{ namespace }}"

---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: reactflow-pod-reader
  namespace: "{{ namespace }}"
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "watch", "list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: reactflow-pod-reader
  namespace: "{{ namespace }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: reactflow-pod-reader
subjects:
- kind: ServiceAccount
  name: reactflow
  namespace: "{{ namespace }}"