apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: "{{ service_name }}" 
  name: "{{ service_name }}"
  namespace: "{{ namespace }}"
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: "{{ service_name }}"
  template:
    metadata:
      labels:
        app: "{{ service_name }}"
    spec:
      imagePullSecrets:
      - name: xsio-registry-secret
      volumes:
      - name: log-volume
        hostPath:
          path: /opt/log/stash
          type: DirectoryOrCreate
      serviceAccountName: reactflow
      containers:
      - name: "{{ service_name }}"
        image: "registry-vpc.cn-hangzhou.aliyuncs.com/convertlab/{{ image_name }}:{{ image_tag }}"
        imagePullPolicy: IfNotPresent
        ports:
        - name: web
          containerPort: {{ service_port }}
        - name: remoting
          containerPort: 2551
          protocol: TCP
        - name: management
          containerPort: 8558
          protocol: TCP
        envFrom:
        - configMapRef:
            name: global-config
        - configMapRef:
            name: "{{ service_name }}-config"
        env:
        - name: service_id
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: ExternalIp
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        volumeMounts:
        - mountPath: /opt/log/stash
          name: log-volume
        resources:
          requests:
            memory: "{{ requests_memory | default('2048Mi') }}"
            cpu: "{{ drequests_cpu | default('125m') }}"
          limits:
            memory: "{{ limits_memory | default('4096Mi') }}"
            cpu: "{{ limits_cpu | default('1000m') }}"
