apiVersion: v1
kind: Service
metadata:
  namespace: "{{ namespace }}"
  name: "{{ service_name }}"
  labels:
    jmx_should_be_scraped: "true"
    jmx_scrape_port: "7777"
spec:
  selector:
    app: "{{ service_name }}"
  ports:
  - name: web
    targetPort: web
    port: {{ service_port }}
{% if extra_ports is defined %}
  {%- for port in extra_ports.split(',') %}
  - name: port{{loop.index}}
    targetPort: {{ port }}
    port: {{ port }} 
  {% endfor %}
{% endif %}
