apiVersion: v1
kind: Service
metadata:
  namespace: "{{ namespace }}"
  name: "{{ service_name }}"
spec:
  selector:
    app: "{{ service_name }}"
  ports:
  - name: web
    targetPort: web
    port: {{ service_port }}
{% if extra_ports is defined %}
    {% for port in extra_ports.split(',') %}
        - name: port{{ loop.index }}
          containerPort: {{ port }}
    {% endfor %}
{% endif %}