apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "{{ service_name }}"
  namespace: "{{ namespace }}"
spec:
  serviceName: "{{ service_name }}"
  replicas: {{ replicas }}
  selector:
    matchLabels:
      dce.daocloud.io/app: "{{ service_name }}"
  template:
    metadata:
      labels:
        dce.daocloud.io/app: "{{ service_name }}"
    spec:
      hostAliases:
      - ip: "10.95.35.160"
        hostnames:
        - "hdp-watsons-160"
        - "hdp-watsons-160.aswcntechlab.com"
      - ip: "10.95.35.161"
        hostnames:
        - "hdp-watsons-161"
        - "hdp-watsons-161.aswcntechlab.com"
      - ip: "10.95.35.62"
        hostnames:
        - "hdp-watsons-62"
        - "hdp-watsons-62.aswcntechlab.com"
      - ip: "10.95.35.70"
        hostnames:
        - "aswtechlabconvertlabhadoop01"
      - ip: "10.95.35.71"
        hostnames:
        - "aswtechlabconvertlabhadoop02"
      - ip: "10.95.35.92"
        hostnames:
        - "aswtechlabconvertlabhadoop03"
      - ip: "10.95.35.206"
        hostnames:
        - "aswtechlabconvertlabjenkins"
      imagePullSecrets:
      - name: xsio-registry-secret
      volumes:
      - name: log-volume
        hostPath:
          path: /opt/log/stash
          type: DirectoryOrCreate
      - name: ods-volume
        persistentVolumeClaim:
          claimName: ods-volume
      containers:
      - name: "{{ service_name }}"
        image: "nexus.xsio.cn/{{ service_version }}/{{ image_name }}:{{ image_tag }}"
        imagePullPolicy: Always
        ports:
        - name: web
          containerPort: {{ service_port }}
        envFrom:
        - configMapRef:
            name: global-config
        - configMapRef:
            name: "{{ service_name }}-config"
        volumeMounts:
        - name: log-volume
          mountPath: /opt/log/stash
        - name: ods-volume
          mountPath: /opt/log/ods
        resources:
          requests:
            memory: "{{ requests_memory | default('1024Mi') }}"
            cpu: "{{ requests_cpu | default('250m') }}"
            ephemeral-storage: "1Gi"
          limits:
            memory: "{{ limits_memory | default('1024Mi') }}"
            cpu: "{{ limits_cpu | default('1000m') }}"
            ephemeral-storage: "4Gi"
{% if (no_health_check is undefined) or (no_health_check == False) %}
        readinessProbe:
          httpGet:
            path: /ping
            port: web
          initialDelaySeconds: {{ readiness_initial_delay | default(60) }}
          periodSeconds: {{ readiness_period | default(30) }}
        livenessProbe:
          tcpSocket:
            port: web
          initialDelaySeconds: {{ liveness_initial_delay | default(60) }}
          periodSeconds: {{ liveness_period | default(30) }}
{% endif %}
