apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    dce.daocloud.io/app: "{{ service_name }}" 
  name: "{{ service_name }}"
  namespace: "{{ namespace }}"
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      dce.daocloud.io/app: "{{ service_name }}"
  template:
    metadata:
      labels:
        dce.daocloud.io/app: "{{ service_name }}"
    spec:
      hostAliases:
      - ip: "10.95.35.160"
        hostnames:
        - "hdp-watsons-160"
        - "hdp-watsons-160.aswcntechlab.com"
      - ip: "10.95.35.161"
        hostnames:
        - "hdp-watsons-161"
        - "hdp-watsons-161.aswcntechlab.com"
      - ip: "10.95.35.62"
        hostnames:
        - "hdp-watsons-62"
        - "hdp-watsons-62.aswcntechlab.com"
      - ip: "10.95.35.70"
        hostnames:
        - "aswtechlabconvertlabhadoop01"
      - ip: "10.95.35.71"
        hostnames:
        - "aswtechlabconvertlabhadoop02"
      - ip: "10.95.35.92"
        hostnames:
        - "aswtechlabconvertlabhadoop03"
      - ip: "10.95.35.206"
        hostnames:
        - "aswtechlabconvertlabjenkins"
      - ip: "10.95.35.203"
        hostnames:
        - "hdp-watsons-kafka-203.aswcntechlab.com"
      - ip: "10.95.35.43"
        hostnames:
        - "hdp-watsons-kafka-43.aswcntechlab.com"
      - ip: "10.95.35.21"
        hostnames:
        - "hdp-watsons-kafka-21.aswcntechlab.com"
      - ip: "10.95.35.46"
        hostnames:
        - "hdp-watsons-kafka-46.aswcntechlab.com"
      imagePullSecrets:
      - name: xsio-registry-secret
      volumes:
      - name: log-volume
        hostPath:
          path: /opt/log/stash
          type: DirectoryOrCreate
      containers:
      - name: "{{ service_name }}"
        image: "nexus.xsio.cn/{{ service_version }}/{{ image_name }}:{{ image_tag }}"
        imagePullPolicy: IfNotPresent
        ports:
        - name: web
          containerPort: {{ service_port }}
        - name: remoting
          containerPort: 2551
          protocol: TCP
        - name: management
          containerPort: 8558
          protocol: TCP
        envFrom:
        - configMapRef:
            name: global-config
        - configMapRef:
            name: "{{ service_name }}-config"
        env:
        - name: service_id
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: ExternalIp
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        volumeMounts:
        - mountPath: /opt/log/stash
          name: log-volume
        resources:
          requests:
            memory: "{{ requests_memory | default('1024Mi') }}"
            cpu: "{{ requests_cpu | default('1000m') }}"
          limits:
            memory: "{{ limits_memory | default('1024Mi') }}"
            cpu: "{{ limits_cpu | default('1000m') }}"
