apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "{{ service_name }}"
  namespace: "{{ namespace }}"
spec:
  serviceName: "{{ service_name }}"
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: "{{ service_name }}"
  template:
    metadata:
      labels:
        app: "{{ service_name }}"
    spec:
      imagePullSecrets:
      - name: xsio-registry-secret
      volumes:
      - name: log-volume
        hostPath:
          path: /opt/log/stash
          type: DirectoryOrCreate
      - name: ods-volume
        persistentVolumeClaim:
          claimName: ods-volume
      hostAliases:
      - ip: "10.10.0.2"
        hostnames:
        - "hadoop01"
      - ip: "10.10.0.3"
        hostnames:
        - "hadoop02"
      - ip: "10.10.0.4"
        hostnames:
        - "hadoop03"
      hostAliases:
      - ip: "10.10.0.2"
        hostnames:
        - "hadoop01"
      - ip: "10.10.0.3"
        hostnames:
        - "hadoop02"
      - ip: "10.10.0.4"
        hostnames:
        - "hadoop03"
      - ip: "10.10.0.6"
        hostnames:
        - "hadoop04"
      - ip: "10.10.0.7"
        hostnames:
        - "hadoop05"
      - ip: "10.10.0.8"
        hostnames:
        - "hadoop06"
      - ip: "192.168.11.167"
        hostnames:
        - "prodvpc-hadoop01"
      - ip: "192.168.11.168"
        hostnames:
        - "prodvpc-hadoop02"
      - ip: "192.168.11.169"
        hostnames:
        - "prodvpc-hadoop03"
      - ip: "192.168.11.170"
        hostnames:
        - "prodvpc-hadoop04"
      - ip: "192.168.11.172"
        hostnames:
        - "prodvpc-hadoop05"
      - ip: "192.168.11.173"
        hostnames:
        - "prodvpc-hadoop06"
      - ip: "192.168.11.174"
        hostnames:
        - "prodvpc-hadoop07"
      - ip: "192.168.11.175"
        hostnames:
        - "prodvpc-hadoop08"
      containers:
      - name: "{{ service_name }}"
        image: "nexus-public.xsio.cn/{{ service_version }}/{{ image_name }}:{{ image_tag }}"
        imagePullPolicy: Always
        ports:
        - name: web
          containerPort: {{ service_port }}
        envFrom:
        - configMapRef:
            name: global-config
        - configMapRef:
            name: "{{ service_name }}-config"
        volumeMounts:
        - name: log-volume
          mountPath: /opt/log/stash
        - name: ods-volume
          mountPath: /opt/log/ods
        resources:
          requests:
            memory: "{{ requests_memory | default('2048Mi') }}"
            cpu: "{{ requests_cpu | default('125m') }}"
            ephemeral-storage: "1Gi"
          limits:
            memory: "{{ limits_memory | default('4096Mi') }}"
            cpu: "{{ limits_cpu | default('1000m') }}"
            ephemeral-storage: "4Gi"
{% if (no_health_check is undefined) or (no_health_check == False) %}
        readinessProbe:
          httpGet:
            path: /ping
            port: web
          initialDelaySeconds: {{ readiness_initial_delay | default(60) }}
          periodSeconds: {{ readiness_period | default(30) }}
        livenessProbe:
          tcpSocket:
            port: web
          initialDelaySeconds: {{ liveness_initial_delay | default(60) }}
          periodSeconds: {{ liveness_period | default(30) }}
{% endif %}
