apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: "{{ service_name }}" 
  name: "{{ service_name }}"
  namespace: "{{ namespace }}"
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: "{{ service_name }}"
  template:
    metadata:
      labels:
        app: "{{ service_name }}"
    spec:
      imagePullSecrets:
      - name: xsio-registry-secret
      hostAliases:
        - ip: "172.16.37.15"
          hostnames:
            - "ma-master01-pe2"
        - ip: "172.16.37.16"
          hostnames:
            - "ma-master02-pe2"
        - ip: "172.16.37.17"
          hostnames:
            - "ma-slave01-pe2"
        - ip: "172.16.37.18"
          hostnames:
            - "ma-slave02-pe2"
        - ip: "172.16.37.19"
          hostnames:
            - "ma-slave03-pe2"
        - ip: "172.16.37.20"
          hostnames:
            - "ma-slave04-pe2"
        - ip: "172.16.37.21"
          hostnames:
            - "ma-slave05-pe2"
        - ip: "172.16.37.22"
          hostnames:
            - "ma-slave06-pe2"
        - ip: "172.16.37.23"
          hostnames:
            - "ma-slave07-pe2"
        - ip: "172.16.37.24"
          hostnames:
            - "ma-slave08-pe2"
      
      volumes:
      - name: log-volume
        hostPath:
          path: /opt/log/stash
          type: DirectoryOrCreate
      serviceAccountName: reactflow
      containers:
      - name: "{{ service_name }}"
        image: "frmaaksacr.azurecr.cn/{{ image_name }}:{{ image_tag }}"
        imagePullPolicy: IfNotPresent
        ports:
        - name: web
          containerPort: {{ service_port }}
        - name: remoting
          containerPort: 2551
          protocol: TCP
        - name: management
          containerPort: 8558
          protocol: TCP
        envFrom:
        - configMapRef:
            name: global-config
        - configMapRef:
            name: "{{ service_name }}-config"
        env:
        - name: service_id
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: ExternalIp
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        volumeMounts:
        - mountPath: /opt/log/stash
          name: log-volume
        resources:
          requests:
            memory: "{{ requests_memory | default('8Gi') }}"
            cpu: "{{ drequests_cpu | default('125m') }}"
          limits:
            memory: "{{ limits_memory | default('8Gi') }}"
            cpu: "{{ limits_cpu | default('4000m') }}"
      tolerations:
      - effect: NoSchedule
        key: reactflow-only
        operator: Exists
