#jinja2: trim_blocks:False
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ service_name }}"
  namespace: "{{ namespace }}"
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: "{{ service_name }}"
  template:
    metadata:
      labels:
        app: "{{ service_name }}"
    spec:
      imagePullSecrets:
      - name: userpass-secret
      volumes:
      - name: log-volume
        hostPath:
          path: /opt/log/stash
          type: DirectoryOrCreate
      - name: tmp-volume
        hostPath:
          path: /opt/tmp
          type: DirectoryOrCreate
      hostAliases:
      - ip: "172.16.31.4"
        hostnames:
        - "ma-master01-te2"
      - ip: "172.16.31.5"
        hostnames:
        - "ma-slave01-te2"
      - ip: "172.16.31.6"
        hostnames:
        - "ma-slave02-te2"
      - ip: "172.16.31.7"
        hostnames:
        - "ma-slave03-te2"
      containers:
      - name: "{{ service_name }}"
        image: "frmaaksacr.azurecr.cn/{{ image_name }}:{{ image_tag }}"
        imagePullPolicy: Always
        ports:
        - name: web
          containerPort: {{ service_port }}
        {% if extra_ports is defined %}{%- for port in extra_ports.split(',') %}
        - name: port{{loop.index}}
          containerPort: {{port}} {% endfor %}{% endif %}
        env:
        - name: version
          value: "{{ image_tag }}"
        envFrom:
        - configMapRef:
            name: global-config
        - configMapRef:
            name: "{{ service_name }}-config"
        volumeMounts:
        - mountPath: /opt/log/stash
          name: log-volume
        - mountPath: /var/tmp
          name: tmp-volume
        - mountPath: /tmp
          name: tmp-volume
        resources:
          requests:
            memory: "{{ requests_memory | default('900Mi') }}"
            cpu: "{{ requests_cpu | default('125m') }}"
          limits:
            memory: "{{ limits_memory | default('4096Mi') }}"
            cpu: "{{ limits_cpu | default('1000m') }}"
{% if (no_health_check is undefined) or (no_health_check == False) %}
        readinessProbe:
          httpGet:
            path: /ping
            port: web
          initialDelaySeconds: {{ readiness_initial_delay | default(60) }}
          periodSeconds: {{ readiness_period | default(30) }}
        livenessProbe:
          tcpSocket:
            port: web
          initialDelaySeconds: {{ liveness_initial_delay | default(60) }}
          periodSeconds: {{ liveness_period | default(30) }}
{% endif %}
