#jinja2: trim_blocks:False
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ service_name }}"
  namespace: "{{ namespace }}"
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: "{{ service_name }}"
  template:
    metadata:
      labels:
        app: "{{ service_name }}"
    spec:
      imagePullSecrets:
      - name: xsio-registry-secret
      volumes:
      - name: kerberos
        secret:
          defaultMode: 0777
          secretName: kerberos-auth
      - name: log-volume
        hostPath:
          path: /opt/log/stash
          type: DirectoryOrCreate
      - name: tmp-volume
        hostPath:
          path: /opt/tmp
          type: DirectoryOrCreate
      hostAliases:
      - ip: "172.18.86.182"
        hostnames:
        - "bigdata001"
      - ip: "172.18.86.181"
        hostnames:
        - "bigdata002"
      - ip: "172.18.86.178"
        hostnames:
        - "bigdata003"
      - ip: "172.18.86.179"
        hostnames:
        - "bigdata004"
      - ip: "172.18.86.177"
        hostnames:
        - "bigdata005"
      - ip: "172.18.86.180"
        hostnames:
        - "bigdata006"
      containers:
      - name: "{{ service_name }}"
        image: "nexus.xsio.cn/{{ service_version }}/{{ image_name }}:{{ image_tag }}"
        imagePullPolicy: IfNotPresent 
        ports:
        - name: web
          containerPort: {{ service_port }}
        {% if extra_ports is defined %}{%- for port in extra_ports.split(',') %}
        - name: port{{loop.index}}
          containerPort: {{port}} {% endfor %}{% endif %}
        env:
        - name: version
          value: "{{ image_tag }}"
        envFrom:
        - configMapRef:
            name: global-config
        - configMapRef:
            name: "{{ service_name }}-config"
        volumeMounts:
        - mountPath: /opt/log/stash
          name: log-volume
        - mountPath: /var/tmp
          name: tmp-volume
        - mountPath: /tmp
          name: tmp-volume
        - name: "kerberos"
          mountPath: "/etc/krb5.conf"
          subPath: "krb5.conf"
        - name: "kerberos"
          mountPath: "/etc/ma.keytab"
          subPath: "ma.keytab"
        resources:
          requests:
            memory: "{{ requests_memory | default('2048Mi') }}"
            cpu: "{{ requests_cpu | default('125m') }}"
          limits:
            memory: "{{ limits_memory | default('4096Mi') }}"
            cpu: "{{ limits_cpu | default('1000m') }}"
{% if (no_health_check is undefined) or (no_health_check == False) %}
        readinessProbe:
          httpGet:
            path: /ping
            port: web
          initialDelaySeconds: {{ readiness_initial_delay | default(60) }}
          periodSeconds: {{ readiness_period | default(30) }}
        livenessProbe:
          tcpSocket:
            port: web
          initialDelaySeconds: {{ liveness_initial_delay | default(60) }}
          periodSeconds: {{ liveness_period | default(30) }}
{% endif %}
